@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "tailwindcss";

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    background-color: #faf7f0;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
